<div class="container">
  <h2>Employer Sign In</h2>

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" [(ngModel)]="employerSignin.name" required>
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="employerSignin.password" required>
  </div>

  <button class="btn btn-primary" (click)="signin(employerSignin)">Sign In</button>
</div>
